<div flex layout="row" layout-align="center center" ng-Controller="clientsCtrl">
  <div flex="60" class="">
		<form name="clientsRegister" ng-submit="register(client)">
			<md-input-container>
        <label>Name</label>
 	 			<input type="text" name="name" placeholder="Client Name" ng-model="client.name" required>
        <!-- As we are using angular materialize this kind of validations comes for free =)
        <div ng-show="clientsRegister.$submitted || clientsRegister.name.$touched">
          <span ng-show="clientsRegister.name.$error.required">A client name is required</span>
        </div>
        -->
 	 		</md-input-container>
 	 		<md-input-container>
 	 			<label>Email</label>
 	      <input type="email" name="email" placeholder="Email" ng-model="client.email" required>
        <!--
        <div ng-show="clientsRegister.$submitted || clientsRegister.email.$touched">
          <span ng-show="clientsRegister.email.$error.required"> An email is required</span>
          <span ng-show="clientsRegister.email.$error.email"> This is not a valid email </span>
        </div>
        -->
 	 		</md-input-container>
	    <div flex layout="row" layout-align="center center">
 	      <md-button class="md-raised md-cornered" type="submit">Register</md-button>
 	    </div>
		</form>
  </div>
</div>
